.marsCartography{
    display:grid;
    grid-template-columns: repeat(6,1fr);    
    grid-template-rows: repeat(6,1fr);
    grid-gap: 0.6em;
    border:2px solid black;
    width:100%;
    height:600px;
    background-image: url("images/photo-1561737271-954105a4bda1.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
}

.sector{
    border:5px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 5rem;
    font-weight: bold;
}