.sectorCartography{
    display:grid;
    grid-template-columns: repeat(3,1fr);    
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0.2rem;
    border: 1px solid orange;
    background: orange;
    height:600px;
}

.areaDivNormal{
    display: none;
}

.areaDivCover{
    position:relative;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
    background:red;
    opacity: 0.75;
    width:100%;
    height:28%;
    bottom:28%;
    z-index:2;


}

