{% extends 'base.html.twig' %}

{% block title %}Hello MINERALsController!{% endblock %}
{% block stylesheets %}
{% endblock %}

 
{% block body %}
<div class= "container mt-5">
{% for message in app.flashes('success') %}
<div class= "alert alert-success">
{{ message }}
</div>
{% endfor %}
{{form_start(form, {'attr':{'class':'form-row'}}) }}
<div class= "form-group col-md-6">{{ form_row(form.title, {'label': 'Short Description:', 'attr':{'class':'form-control'}}) }}</div>
<div class= "form-group col-md-6">{{ form_row(form.content,{'label': 'Full Description:', 'attr':{'class':'form-control'}}) }} </div>
<div class= "form-group col-md-6 ">{{ form_row(form.priority,{'label': 'Priority:', 'attr':{'class':'form-control'}}) }} </div>


<img style= "height: 300px"class= "col-md-4 "src="/hand-finger-bone-sign-rock-metal-music-halloween-gift-idea-posters.jpg">

<div class= "form-group col-md-8 "><button class="btn btn-warning p-3 text-white "type=submit>Submit a report</button>
{{form_end(form)}}
</div>
</div>

{% endblock %}
