{% extends 'base.html.twig' %}

{% block title %}Hello ReportsController!{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-baseline">
<h1 class="p-5" > Here is a list of all pending reports : </h1> 
<p class="pr-5">Order by:<a class="btn btn-dark m-2" href="">Date</a> <a class="btn btn-dark m-2" href="{{path('report_orderByPriority')}}">Priority</a><a class="btn btn-dark m-2" href="{{path('report_orderByArea')}}">Area</a> <a class="btn btn-dark m-2" href="">Role=scientist</a></p>
</div>
<div class="p-3">
<table class="table table-striped" >
    <thead>
        <tr>
        <th>Date</th>
         <th>Priority</th>
        <th>Area</th>
        <th>Title</th>
        <th>Content</th>
        <th>Author and role</th>
        
        <th>Take actions</th>
        <th>Modify status</th>
        </tr>
    </thead>
    <tbody>

{% for report in reports %}
    <tr>
    <td>date</td>
     <td>{{report.priority}}</td>
     <td>{{report.areas.id}}</td>
      <td>{{report.title}}</td>
       <td>{{report.content}}</td>
        <td>{{report.earthlings.id}}</td>
         <td><a class="btn btn-primary" href="">Send to archive </a>  <a class="btn btn-warning" href="">Send a team to investigate </a> <a class="btn btn-danger" href="{{path('delete_report',{'id': report.id})}}">Discard</a> </td>
        <td><a class="btn btn-primary" href="{{path('edit_report',{'id': report.id})}}"> Tag as read </a></td>

    </tr>


{% endfor %}
</tbody>
</table
</div>

{% endblock %}
