<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand text-white" href="{{path('sectors')}}"><img style='width:80px; height:80px' src='/momsbook1.jpg'></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{{path('sectors')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin Control Panel
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="{{path('list_reports')}}">See Reports </a>
          <a class="dropdown-item  " href="{{path('areas_add')}}">Add an Area </a>
          <a class="dropdown-item " href="{{path('list_minerals')}}">See Minerals </a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      {% if not app.user %}
       <li class="nav-item">
        <a class="nav-link text-white" href="{{path("login")}}">Login</a>
      </li>
      {% else %}
       <li class="nav-item">
        <a class="nav-link text-white" href="{{path("logout")}}">Logout</a>
      </li>
      {% endif %}

    </ul>
    
  </div>
</nav>
</header>
<body >

        {% block body %}{% endblock %}
</body>
<footer class= "mt-5 bg-warning " style= "display:flex; flex-flow: column; justify-content: center; align-items:center">
 <p> Commercial product banner:  To get more info on Mars and its danger <a href="http://mars-detector.boris-setti.fr/map">Visit Boris Setti's platform</a> (Certified by Opquast backlink policy)</p>
<img style='width:300px; height:200px' src='/momsbook1.jpg'>
</footer>
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
