{% extends 'base.html.twig' %}

{% block title %}Hello AreasController!{% endblock %}
{% block stylesheets %}
{% endblock %}


{% block body %}
<div class= "container mt-5">
{% for message in app.flashes('success') %}
<div class= "alert alert-success">
{{ message }}
</div>
{% endfor %}
{{form_start(form, {'attr':{'class':'form-row'}}) }}
<div class= "form-group col-md-6">{{ form_row(form.s_col_start, {'label': 'Top corner left value:', 'attr':{'class':'form-control'}}) }}</div>
<div class= "form-group col-md-6">{{ form_row(form.s_col_end,{'label': 'Top corner right value:', 'attr':{'class':'form-control'}}) }} </div>
<div class= "form-group col-md-6 ">{{ form_row(form.s_row_start,{'label': 'Bottom corner left value:', 'attr':{'class':'form-control'}}) }} </div>
<div class= "form-group col-md-6 ">{{ form_row(form.s_row_end,{'label': 'Bottom corner right value:', 'attr':{'class':'form-control'}}) }}</div>
<div class= "form-group col-md-6 ">{{ form_row(form.name,{'label': 'Name:', 'attr':{'class':'form-control'}}) }}</div>
<div class= "form-group col-md-6">{{ form_row(form.is_safe,{'label': 'Is Safe:', 'attr':{'class':'form-control'}}) }} </div>
<div class= "form-group col-md-6 ">{{ form_row(form.has_ressources,{'label': 'Has Ressources:', 'attr':{'class':'form-control'}}) }} </div>
<div class= "form-group col-md-6 ">{{ form_row(form.ground_type,{'label': 'Landscape:', 'attr':{'class':'form-control'}}) }}</div>
<div class= "form-group col-md-6 ">{{ form_row(form.has_been_investigated,{'label': 'Has Been Investigated:', 'attr':{'class':'form-control'}}) }}</div>
<div class= "form-group col-md-6">{{ form_row(form.risk,{'label': 'Risk level:', 'attr':{'class':'form-control'}}) }} </div>
<div class= "form-group col-md-6 ">{{ form_row(form.sectors,{'label': 'Sector associated:', 'attr':{'class':'form-control'}}) }} </div>
<div class= "form-group col-md-6 ">{{ form_row(form.minerals,{'label': 'Dangerous Ores Reported:', 'attr':{'class':'form-control'}}) }}</div>
<div class= "form-group col-md-6 ">{{ form_row(form.picture,{'label': 'Picture:', 'attr':{'class':'form-control'}}) }}</div>

<div class= "form-group col-md-8 "><button class="btn btn-warning p-3 text-white "type=submit>Add to database</button>
{{form_end(form)}}
</div>
</div>

{% endblock %}
