{% extends 'base.html.twig' %}

{% block stylesheets %} <link rel="stylesheet" href="/individualSector.css"> {% endblock %}


{% block body %}
{#<h1> Narrow it down some Here is   You are currently sector {{sector_targeted.number}} rerepsentation</h1> #}
<h2 class='mt-4 ml-4'> You are currently perusing over all the areas pertaining to sector {{sectorInfo.number}}</h2>

<h3 class='ml-4'>To get detailed informations on a particular area, please click on the one you are interested in.</h3> 

<div class="row p-4">
    <div class= "col-md-4">
    <h3>{{ areaInfo.name}} :</h3>
    <ul>
    <li>Marking out of the area: {{ areaInfo.sColStart }} / {{areaInfo.sColEnd}} / {{areaInfo.sRowStart}} / {{areaInfo.sRowEnd}}  </li>
    <li> Investigations carried out: {% if areaInfo.hasBeenInvestigated == 1  %} Area mapped 

    <li> Threat level: {{ areaInfo.risk}}</li>
    <li>Status : {% if areaInfo.isSafe == 0  %} Safe {% else  %} Better stay away {% endif %}</li>
    <li> Riches: {% if areaInfo.hasRessources == 1  %} Ressouces found {% else %} No ressources of any sort found {% endif %}</li>
    <li> GroundType: {{ areaInfo.groundType}}</li>
     <li> Minerals:  {% for mineral in areaInfo.minerals %} {{mineral.name}} {% endfor %}</li> 

    {% else %} Area as yet to be mapped {% endif %}</li>
   </ul>
   <p>Please help us gathering more information on the area</p>
   {% if not app.user %} 
    <a class='btn btn-warning' href="{{ path('login')}}">You can't send a report unless you are logged in. </a>
{% else %}
   <a class='btn btn-warning' href="{{ path('report_create', {'id': areaInfo.id})}}"> Send a report  </a>
{% endif %}


    </div>

    <div class="sectorCartography col-md-8" >
        {% for area in sectorInfo.areas %}                                                        
            <a class='areaLink d-flex justify-content-center align-items-center' data-id={{ area.id }} style='grid-column-start:{{area.sColStart}};grid-column-end:{{area.sColEnd}};grid-row-start:{{area.sRowStart}};grid-row-end:{{area.sRowEnd}};background-image:url({{ area.picture }}); background-size:cover' href="{{path('areas_show', {'id': area.id} )}}"><div style="background: rgba(0,0,0,0.8); padding:1em; color:white" >{{ area.name }}</div></a>
        {% endfor %}
    
    </div>
</div>
{% endblock %}
{% block javascripts %}<script src="/areaInfo.js"></script>{% endblock %}

