{% extends 'base.html.twig' %}

{% block title %}Hello SectorsController!{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="areas.css">
{% endblock %}


{% block body %}
<h1> Choose the zone you are curious about  wish to enquire about investigate</h1>
<div class=container>

<div class=marsCartography>
    {% for sector in sectors %}
        <a style='grid-column-start:{{sector.colStart}};grid-column-end:{{sector.colEnd}};grid-row-start:{{sector.rowStart}};grid-row-end:{{sector.rowEnd}};' class=sector href="{{path('show_sector',{'id': sector.id})}}"><div>{{ sector.number }}</div></a>
    {% endfor %}
</div>
</div>
{% endblock %}
