{% extends 'base.html.twig' %}

{% block stylesheets %} <link rel="stylesheet" href="/individualSector.css"> {% endblock %}


{% block body %}
{#<h1> Narrow it down some Here is   You are currently sector {{sector_targeted.number}} rerepsentation</h1> #}
<h2 class='mt-4 ml-4'> You are currently perusing over all the areas pertaining to sector {{sector_targeted.number}}</h2>

<h3 class='ml-4'>To get detailed informations on a particular area, please click on the one you are interested in.</h3> 

<div class="row p-4">
   
    <div class= "col-md-4 d-flex justify-content-center align-items-center">
 <a id='dangerBtn' class="btn btn-warning p-3" href="#">Spot danger</a>
    </div>

    <div class="sectorCartography col-md-8" >
        {% for area in areas_of_sector_targeted %}                                                        
            <a  class='areaDiv areaLink d-flex justify-content-center align-items-center' data-safe="{{ area.isSafe }}" style='grid-column-start:{{area.sColStart}};grid-column-end:{{area.sColEnd}};grid-row-start:{{area.sRowStart}};grid-row-end:{{area.sRowEnd}};background-image:url({{ area.picture }}); background-size:cover' href="{{path('areas_show', {'id': area.id} )}}"><div style="background: rgba(0,0,0,0.8); padding:1em; color:white" >{{ area.name }}</div></a>
            <div class='areaDivNormal'><img style="width:25px; height:25px;"src="/death.png"> Attention danger !!</div>
           
        {% endfor %}
    
    </div>
</div>
{% endblock %}
{% block javascripts %}<script src="/areaInfo.js"></script>{% endblock %}





