{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<div class=container>
{% for message in app.flashes('success') %}
<div class= "alert alert-success">
{{ message }}
</div>
{% endfor %}
{% if error %}
<div class="alert alert-danger">
{{ error.messageKey}}
</div>
{% endif %}
<form style='display:block; margin:0 auto;' action="{{path('login_check')}}" method="post">
<div class="form-group col-5">
    <label for="lastname">Lastname:</label>
    <input type='text' id="lastname" name="_username" class="form-control">
</div>
<div class="form-group col-5">
    <label for="genetic_fingerprint">Genetic Fingerprint:</label>
    <input type='password' id="genetic_fingerprint" name="_password" class="form-control">
</div>
<div class="form-group">
<button class="form-group col-1 btn btn-warning text-white"type=submit>Login</button>
</div>

</form>
<p>If you don't already have an account: <a href=" {{ path('register') }} " >Create one here</a></p>
<img class="col-4 " src="/hand.jpg">

</div>


{% endblock %}
