{% extends 'base.html.twig' %}

{% block title %}Hello MINERALsController!{% endblock %}
{% block stylesheets %}
{% endblock %}

 
{% block body %}
<div class= "container mt-5">
{% for message in app.flashes('success') %}
<div class= "alert alert-success">
{{ message }}
</div>
{% endfor %}
{{form_start(form, {'attr':{'class':'form-row'}}) }}
<div class= "form-group col-md-6">{{ form_row(form.name, {'label': 'Ore name:', 'attr':{'class':'form-control'}}) }}</div>
<div class= "form-group col-md-6">{{ form_row(form.effects_on_population,{'label': 'Effects:', 'attr':{'class':'form-control'}}) }} </div>
<div class= "form-group col-md-6 ">{{ form_row(form.threat_evaluation,{'label': 'Threat level:', 'attr':{'class':'form-control'}}) }} </div>
<div class= "form-group col-md-6 ">{{ form_row(form.icon,{'label': 'Picture:', 'attr':{'class':'form-control'}}) }}</div>
<div class= "form-group col-md-6 ">{{ form_row(form.areas,{'label': 'Spotted in area:', 'attr':{'class':'form-control'}}) }}</div>
<div class= "form-group col-md-6 "><img style="width: 520px; height:240px"src="/ore.jpg"></div>
<div class= "form-group col-md-8 "><button class="btn btn-warning p-3 text-white "type=submit>Add to database</button>
{{form_end(form)}}
</div>

</div>

{% endblock %}
