{% extends 'base.html.twig' %}

{% block title %}Hello MINERALsController!{% endblock %}
{% block stylesheets %}
{% endblock %}


{% block body %}
<div class=container>
<h1 class='pt-4'>List of all dangerous minerals known to earthlings</h1>
<h3>A new discovery to report ? <a href="{{path('minerals_add')}}">Fill in the form</a></h3>

<div class="row row-cols-1 row-cols-md-3">
  

{% for mineral in minerals %}
<div class="col mb-4">
  <div class="card">
    <img src="{{mineral.icon}}" style="height:250px; "class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Designation:{{mineral.name}}</h5>
      <p class="card-text">Known effects on population:{{mineral.effectsOnPopulation}} </p>
      <p class="card-text">Risk level:{{mineral.threatEvaluation}} </p>
      <p class="card-text"><small class="text-muted">Spotted in areas : {% for mineral in mineral.areas %} {{mineral.name}} {% endfor %}</small></p>
    </div>
  </div>
</div>
{% endfor %}
</div>

</div>

{% endblock %}
