{% extends 'base.html.twig' %}

{% block title %}Hello EarthlingsController!{% endblock %}

{% block body %}

<div class="container">
<div class= "pt-5">
    {{form_start(form)}}
    <div class="form-group">{{form_row(form.lastname, {'label': 'Lastname:', 'attr':{'class':'form-control'}}) }}</div>
    <div class="form-group">{{form_row(form.firstname, {'label': 'Firstname:', 'attr':{'class':'form-control'}}) }}</div>
    <div class="form-group">{{form_row(form.age, {'label': 'Age:', 'attr':{'class':'form-control'}}) }}</div>
    <div class="form-group">{{form_row(form.genetic_fingerprint, {'label': 'Genetic fingerprint:', 'attr':{'class':'form-control'}}) }}</div>

    <button class='btn btn-warning' type=submit>Register</button>
    {{form_end(form)}}
</div>
<img class="col-4 " src="/astronaut.jpeg">

</div>
{% endblock %}
